<div class="main">
<div class="invitation">
  <div class="real-deal"></div>
  <div class="request">Your Presence is Requested to Witness</div>
  <div class="sheltonwelder-header" style="font-size:25px;height: 20px;letter-spacing: 2px;">THE</div>
  <div class="sheltonwelder-header">SHELTONWELDERS</div>
  <div class="sheltonwelder-names">(Paul Shelton and Amanda Blackwelder)</div>
  <div class="tie-knot">Tie the Knot!</div>
  <div class="rsvp">
    <span class="rsvp-button" routerLink="../rsvp" routerLinkActive="true">Click Here to RSVP</span></div>
    <div class="rsvp">
        <span class="rsvp-button" (click)="nav('https://www.crateandbarrel.com/gift-registry/amanda-blackwelder-and-paul-shelton/r6071439')">Click Here to View Registry
        </span>
    </div>
  <div class="love-bow"></div>
  <div class="date">02.22.20</div>
  <div class="home-title">The Home of David and Georgette Jamison</div>
  <div class="address" (click)="openMap()">
    <span class="address1">2032 BLUEBIRD DRIVE</span>
    <span class="address1">NEW BRAUNFELS, TEXAS 787132</span>
    <span>FESTIVITIES BEGIN AT 1PM</span>
  </div>
  <div class="food">
    <span>It's a BBQ! In lieu of gifts bring your favorite side dish.</span>
    <span>BBQ wedding attire!</span>

  </div>
</div>
</div>
