.main {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    font-family: lato;
}