
<div style="height:50%;">

<div class="real-deal"></div>
<div class="request">Your Presence is Requested to Witness</div>
<div class="sheltonwelder-header" style="font-size:25px;height: 20px;letter-spacing: 2px;">THE</div>
<div class="sheltonwelder-header">SHELTONWELDERS</div>
<div class="sheltonwelder-names">(Paul Shelton and Amanda Blackwelder)</div>
<div class="tie-knot">Tie the Knot!</div>
<div class="rsvp">
    <span class="rsvp-button" style="width: 80% !important;" routerLink="../rsvp-m" routerLinkActive="true">Click Here to RSVP
    </span>
</div>
<div class="rsvp">
    <span class="rsvp-button" style="width:80% !important" (click)="nav('https://www.crateandbarrel.com/gift-registry/amanda-blackwelder-and-paul-shelton/r6071439')">Click Here to View Registry
    </span>
</div>

</div>

<div style="height:50%;">

<div class="date">02.22.20</div>
<div class="home-title">The Home of David and Georgette Jamison</div>
<div class="address" (click)="openMap()">
  <span class="address1">2032 BLUEBIRD DRIVE</span>
  <span class="address1">NEW BRAUNFELS, TEXAS 787132</span>
  <span>FESTIVITIES BEGIN AT 1PM</span>
</div>
<div class="food">
  <span>It's a BBQ! In lieu of gifts bring your favorite side dish.</span>
</div>
</div>  