/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: bondoni;
    src: url(../fonts/BodoniFLF-Roman.ttf);
  }

  @font-face {
    font-family: bondoni-talic;
    src: url(../fonts/BodoniFLF-Italic.ttf);
  }
  @font-face {
    font-family: mellony;
    src: url('../fonts/mellonydrybrush.ttf');
  }

  @font-face {
    font-family: lato;
    src: url('../fonts/Lato-Regular.ttf');
  }

  @font-face {
    font-family: lato-thin-italic;
    src: url('../fonts/Lato-ThinItalic.ttf');
  }

  @font-face {
    font-family: lato-semibold-italic;
    src: url('../fonts/Lato-SemiboldItalic.ttf');
  }
  
  @font-face {
    font-family: lato-semibold;
    src: url('../fonts/Lato-Semibold.ttf');
  }
  
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html{

    width: 100%;
    height: 100%;
  }
  body{

    width: 100%;
    height: 100%;
  }